##### Falta modificar o campo de Data Evento com datas 00/00/0000

### Tratando a base de Vendas

In [3]:
import datetime
import pandas as pd
import numpy as np

vendas = pd.read_excel('C:/Users/polez/Documents/Provence_Festas/Relatorio_24/Vendas24.xlsx')

# vendas[vendas['ID Cli.'].isnull()]
# vendas[vendas['Data evento'].isnull()]

vendas.dropna(subset = ['ID Cli.'], inplace = True)
vendas.dropna(subset = ['Data evento'], inplace = True)
vendas.dropna(subset = ['ID Ped.'], inplace = True)
vendas.dropna(subset = ['Atendente'], inplace = True)
vendas.dropna(subset = ['Cliente'], inplace = True)
# vendas.dropna(subset = ['CPF'], inplace = True)
vendas.dropna(subset = ['Valor'], inplace = True)
vendas.dropna(subset = ['Frete'], inplace = True)
vendas.dropna(subset = ['Desconto'], inplace = True)
vendas.dropna(subset = ['Data de Emissão'], inplace = True)
vendas.dropna(subset = ['Forma de Pagamento'], inplace = True)
vendas.dropna(subset = ['Taxa extra'], inplace = True)

vendas.rename(columns={'ID Ped.': 'Id_Pedido', 'ID Cli.' : 'Id_Cliente', 'Data de Emissão' : 'Data_Emissao', 
                       'Data evento' : 'Data_Evento', 'Forma de Pagamento' : 'Forma_Pagamento', 'Taxa extra' : 'Taxa_Extra'}, 
                       inplace = True)

vendas_df = pd.DataFrame(vendas)

data_types_dict = {'Id_Pedido': int, 'Id_Cliente': int}

vendas_df = vendas_df.astype(data_types_dict)

vendas_df["Data_Evento"] = pd.to_datetime(vendas_df["Data_Evento"], errors="coerce")

vendas_df[vendas_df["Data_Evento"].notnull()]
vendas_df[vendas_df["Data_Evento"].notna()]

vendas_df["ano_evento"] = vendas_df["Data_Evento"].astype('datetime64[ns]')
vendas_df["mes_evento"] = vendas_df["Data_Evento"].astype('datetime64[ns]')

vendas_df["ano_evento"] = pd.DatetimeIndex(vendas_df["ano_evento"]).year
vendas_df["mes_evento"] = pd.DatetimeIndex(vendas_df["mes_evento"]).month

vendas_df["ano_evento"] = pd.to_datetime(vendas_df["ano_evento"]).astype('int64')
vendas_df["mes_evento"] = pd.to_datetime(vendas_df["mes_evento"]).astype('int64')

vendas_df = vendas_df.fillna({'CPF': 0, 'Data_Evento': 0})
vendas_df['Id_Cliente'].dropna(axis=0)

vendas_df.info()

def formatar(valor):
    return "R$ {:,.2f}".format(valor)

vendas_df

# file_name = 'MarksData.xlsx'
# vendas.to_excel(file_name)
# # vendas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8335 entries, 0 to 8334
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id_Pedido        8335 non-null   int32
 1   Id_Cliente       8335 non-null   int32
 2   Data_Emissao     8335 non-null   datetime64[ns]
 3   Data_Evento      8335 non-null   object
 4   Atendente        8335 non-null   object
 5   Cliente          8335 non-null   object
 6   CPF              8335 non-null   object
 7   Forma_Pagamento  8335 non-null   object
 8   Valor            8335 non-null   float64
 9   Frete            8335 non-null   float64
 10  Desconto         8335 non-null   float64
 11  Taxa_Extra       8335 non-null   float64
 12  ano_evento       8335 non-null   int64
 13  mes_evento       8335 non-null   int64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(2), object(5)
memory usage: 911.6+ KB

,Id_Pedido,Id_Cliente,Data_Emissao,Data_Evento,Atendente,Cliente,CPF,Forma_Pagamento,Valor,Frete,Desconto,Taxa_Extra,ano_evento,mes_evento
0,37,97,2019-01-02,2018-11-10 00:00:00,Suporte,Adriana Aparecida Silva Torres,284.823.008-81,Deposito,1020.00,180.0,0.0,0.0,2018,11
1,55,190,2019-01-03,2019-01-05 00:00:00,Arlete Toledo,Marta Carvalho,053.117.658-44,Débito,49.00,0.0,0.0,0.0,2019,1
2,57,191,2019-01-03,2019-01-04 00:00:00,Arlete Toledo,Masa Dezessete Empreendimentos Imobiliarios,12.991.997/0001-78,Deposito,53.96,40.0,0.0,0.0,2019,1
3,60,72,2019-01-07,2019-01-05 00:00:00,Henrique Cesar,Patricia Pacheco,302.482.778-12,Débito,53.24,0.0,0.0,0.0,2019,1
4,62,4,2019-01-07,2019-01-05 00:00:00,Henrique Cesar,Casa Da Pizza,04.032.180/0001-44,Deposito,67.50,0.0,0.0,0.0,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8330,11930,1587,2024-03-22,2024-03-23 00:00:00,Patricia Lima,Emporio Pessanha Eireli*,34.021.331/0001-20,PIX,131.00,0.0,0.0,0.0,2024,3
8331,11932,446,2024-03-22,2024-03-23 00:00:00,Arlete Toledo,Sheila Domenegletti Storel,268.215.308-90,Deposito,167.40,0.0,0.0,0.0,2024,3
8332,11933,4095,2024-03-22,2024-03-23 00:00:00,Patricia Lima,Gilcilany Melo Nunes,367.048.478-71,PIX,199.50,0.0,0.0,0.0,2024,3
8333,11935,3699,2024-03-22,2024-03-23 00:00:00,Patricia Lima,Plataforma Digital De Desenvolvimento Humano,48.726.584/0001-03,PIX,776.70,0.0,0.0,0.0,2024,3
8334,11938,3391,2024-03-22,2024-03-25 00:00:00,Arlete Toledo,Jms Cargo,12.405.839/0001-99,Deposito,199.50,0.0,0.0,0.0,2024,3

### Vendas total x Forma de Pagamento por ano

In [78]:
forma_pagamento = vendas_df['Forma_Pagamento']

forma_pagamento.drop_duplicates(inplace = True)

forma_pagamento = pd.DataFrame(forma_pagamento)

forma_pagamento.index = range(forma_pagamento.shape[0])

grupo_FormaPag_Mes = vendas_df.groupby(['Forma_Pagamento', 'ano_evento'])['Valor'].sum().apply(formatar)

grupo_FormaPag_Mes

Forma_Pagamento  ano_evento
Boleto           -9223372036854775808      R$ 1,356.00
                  2019                    R$ 62,163.03
                  2020                    R$ 14,164.29
                  2021                     R$ 8,983.56
                  2022                    R$ 15,981.58
                  2023                    R$ 20,000.65
                  2024                       R$ 392.80
Cheque            2019                    R$ 32,615.16
                  2020                     R$ 5,126.54
                  2021                     R$ 1,316.26
Comissao          2019                       R$ 481.10
                  2021                       R$ 130.00
                  2022                       R$ 663.90
                  2023                       R$ 756.36
Cortesia         -9223372036854775808          R$ 0.00
                  2019                     R$ 4,090.20
                  2020                     R$ 1,614.08
                  2021                     R$ 5,045.10
                  2022                     R$ 6,683.61
                  2023                     R$ 4,819.71
                  2024                       R$ 575.25
Crédito          -9223372036854775808         R$ 67.20
                  2019                    R$ 51,625.80
                  2020                    R$ 14,362.94
                  2021                    R$ 20,032.34
                  2022                    R$ 38,193.56
                  2023                    R$ 69,791.67
                  2024                     R$ 5,446.19
Deposito         -9223372036854775808      R$ 7,078.77
                  2018                     R$ 1,020.00
                  2019                   R$ 329,616.15
                  2020                   R$ 122,064.15
                  2021                   R$ 334,150.86
                  2022                   R$ 572,573.97
                  2023                   R$ 422,155.21
                  2024                   R$ 102,624.93
Desconto          2022                        R$ 59.65
                  2023                       R$ 136.40
Dinheiro         -9223372036854775808         R$ 76.00
                  2019                    R$ 37,447.08
                  2020                     R$ 8,451.60
                  2021                     R$ 8,714.58
                  2022                     R$ 8,716.44
                  2023                    R$ 15,763.00
                  2024                       R$ 201.78
Débito           -9223372036854775808        R$ 163.32
                  2019                    R$ 33,307.04
                  2020                    R$ 14,600.77
                  2021                    R$ 10,893.04
                  2022                    R$ 23,003.28
                  2023                    R$ 17,463.67
                  2024                     R$ 1,094.59
PIX              -9223372036854775808      R$ 2,952.95
                  2021                       R$ 604.40
                  2022                   R$ 171,098.77
                  2023                   R$ 574,051.78
                  2024                   R$ 127,580.85
Name: Valor, dtype: object

### Vendas total x Forma de Pagamento agrupados por mês de cada Ano

In [79]:
grupo_FormaPag_Mes_ano = vendas_df.groupby(['Forma_Pagamento', 'ano_evento', 'mes_evento'])['Valor'].sum().apply(formatar)

grupo_FormaPag_Mes_ano

Forma_Pagamento  ano_evento            mes_evento
Boleto           -9223372036854775808  -9223372036854775808     R$ 1,356.00
                  2019                  1                       R$ 1,174.50
                                        2                       R$ 1,853.90
                                        3                       R$ 6,194.60
                                        4                       R$ 4,634.78
                                                                   ...
PIX               2024                  1                      R$ 13,761.92
                                        2                      R$ 50,606.54
                                        3                      R$ 59,723.49
                                        4                       R$ 3,066.40
                                        10                        R$ 422.50
Name: Valor, Length: 416, dtype: object

In [90]:
grupo_FormaPag_todos_Anos = vendas_df.groupby(['Forma_Pagamento'])['Valor'].sum().apply(formatar)

grupo_FormaPag_todos_Anos

Forma_Pagamento
Boleto        R$123,041.91
Cheque         R$39,057.96
Comissao        R$2,031.36
Cortesia       R$22,827.95
Crédito       R$199,519.70
Deposito    R$1,891,284.04
Desconto          R$196.05
Dinheiro       R$79,370.48
Débito        R$100,525.71
PIX           R$876,288.75
Name: Valor, dtype: object

### Total Vendas por ano

In [81]:
ano_valor = vendas_df.groupby('ano_evento')['Valor'].sum().apply(formatar)

ano_valor

ano_evento
-9223372036854775808       R$ 11,694.24
 2018                       R$ 1,020.00
 2019                     R$ 551,345.56
 2020                     R$ 180,384.37
 2021                     R$ 389,870.14
 2022                     R$ 836,974.76
 2023                   R$ 1,124,938.45
 2024                     R$ 237,916.39
Name: Valor, dtype: object

### Total Vendas Ano x Mês

In [92]:
ano_mes_total = vendas_df.groupby(['mes_evento', 'ano_evento'])['Valor'].sum().apply(formatar)

ano_mes_total

mes_evento            ano_evento
-9223372036854775808  -9223372036854775808     R$11,694.24
 1                     2019                    R$15,077.58
                       2020                    R$20,928.54
                       2021                    R$16,995.43
                       2022                    R$28,284.26
                                                  ...
 12                    2019                    R$89,282.07
                       2020                    R$42,465.29
                       2021                   R$106,285.30
                       2022                   R$135,532.96
                       2023                   R$197,266.75
Name: Valor, Length: 69, dtype: object

### Total Frete todos os anos

In [109]:
frete_anos_total = vendas_df.groupby(['ano_evento'])['Frete'].sum().apply(formatar)

frete_anos_total

ano_evento
-9223372036854775808        R$392.00
 2018                       R$180.00
 2019                    R$50,125.71
 2020                    R$16,006.20
 2021                    R$38,974.00
 2022                    R$86,118.90
 2023                   R$109,753.10
 2024                    R$25,312.92
Name: Frete, dtype: object

### Total Frete por mês de cada ano

In [110]:
frete_ano_mes = vendas_df.groupby(['mes_evento', 'ano_evento'])['Frete'].sum().apply(formatar)

frete_ano_mes

mes_evento            ano_evento
-9223372036854775808  -9223372036854775808       R$392.00
 1                     2019                    R$1,767.51
                       2020                    R$2,312.50
                       2021                    R$1,518.00
                       2022                    R$2,455.00
                                                 ...
 12                    2019                    R$6,684.00
                       2020                    R$3,364.00
                       2021                   R$10,233.00
                       2022                   R$11,797.00
                       2023                   R$17,218.80
Name: Frete, Length: 69, dtype: object

### Valor de Vendas por cliente

In [111]:
# determining the name of the file
file_name = 'frete_ano_mes.xlsx'
  
# saving the excel
frete_ano_mes.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [101]:
cliente_valor = vendas_df.groupby('Cliente')
cliente_valor['Valor'].sum().round(2)

Cliente
* ANDREA CASTEJON                            352.00
* Gabriela Garcia Guimarães De Oliveira       74.20
* Izadora Rodrigues Normando Simoes *        763.32
* Natalia Ferreira Camargo                   387.50
** Carlos Magno Dos Reis Michaelis Jr **      85.75
                                             ...
Zion Negócios E Produtos Digitais Ltda      1286.40
Zoraide Mendes Artave                         65.00
Zuni Gastronomia                             317.48
Ângela Essig                                 192.00
Érica Azar                                   540.80
Name: Valor, Length: 2927, dtype: float64

### Quantidade de Pedidos por Cliente

In [105]:
qtd_pedido_cliente = vendas_df['Cliente'].count
qtd_pedido_cliente

<bound method Series.count of 0                     Adriana Aparecida Silva Torres
1                                     Marta Carvalho
2        Masa Dezessete Empreendimentos Imobiliarios
3                                   Patricia Pacheco
4                                      Casa Da Pizza
                            ...
8330                        Emporio Pessanha Eireli*
8331                      Sheila Domenegletti Storel
8332                            Gilcilany Melo Nunes
8333    Plataforma Digital De Desenvolvimento Humano
8334                                       Jms Cargo
Name: Cliente, Length: 8335, dtype: object>